html, body {
    height: 100%; 
    

}

body {
    flex-direction: column;
    justify-content: flex-end;
}

.logo {
    text-align: center;
    text-decoration-line: underline;
    text-shadow: 5px;
    

}
.header {
    padding-top: 30px;
    text-align: left;
}
.scores {
    text-align: right;
    top: 20px;
    right: 20px;
    position: absolute;
    top: 100px;
}

.choices, .controls {
    text-align: center;
    margin: 10px 0;
}

.container {
    
}

footer {
    position: relative;
    padding: 20px 0;
    bottom:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}